extends layout
block content
    include topnavigation
    script(src='/javascripts/telldus-client-lys.js')

    .container-fluid
        .row
            .col-sm-4
                h3 Utelys
            .col-sm-4
                button(class="btn btn-primary btn-lg btn-block btn-success", onClick=('switchOn(374572)')) Slå på
            .col-sm-4
                button(class="btn btn-lg btn-block btn-danger", onClick=('switchOff(374572)')) Slå av

    include footer
