.container-fluid
  .row
    .col-sm-2
      a(class="btn btn-primary btn-lg btn-block", href='/varme') Varme
    .col-sm-2
      a(class="btn btn-primary btn-lg btn-block", href='/musikk') Musikk
    .col-sm-2
      a(class="btn btn-primary btn-lg btn-block", href='/lys') Lys
    .col-sm-2
      a(class="btn btn-primary btn-lg btn-block", href='/garasje') Bil
    .col-sm-2
      a(class="btn btn-primary btn-lg btn-block", href='/sanntid') Buss
    .col-sm-2
      a(class="btn btn-primary btn-lg btn-block", href='/yr') Yr
p
br


