extends layout
block content
    include topnavigation
    script(src='/javascripts/telldus-client-varme.js')

    .container-fluid
        .row
            .col-sm-4
                h3 Pelletsovn i stua
            .col-sm-4
                button(class="btn btn-primary btn-lg btn-block btn-success", onClick=('switchOn(435915)')) Slå på
            .col-sm-4
                button(class="btn btn-lg btn-block btn-danger", onClick=('switchOff(435915)')) Slå av

    .container-fluid
        .row
            .col-sm-4
                h3 Pelletsovn i kjelleren
            .col-sm-4
                button(class="btn btn-primary btn-lg btn-block btn-success", onClick=('switchOn(435905)')) Slå på
            .col-sm-4
                button(class="btn btn-lg btn-block btn-danger", onClick=('switchOff(435905)')) Slå av


    .container-fluid
        .row
            .col-sm-4
                h3 Oljeovn hytta
            .col-sm-4
                button(class="btn btn-primary btn-lg btn-block btn-success", onClick=('switchOn(525008)')) Slå på
            .col-sm-4
                button(class="btn btn-lg btn-block btn-danger", onClick=('switchOff(525008)')) Slå av

    include footer